/*-- Colors --*/

:root{ 
    --white--clr: rgb(255, 255, 255);
    --black--clr: rgb(0, 0, 0);

    --bright-orange--clr: hsl(31, 45%, 67%);
    --dark-cyan--clr: hsl(184, 100%, 22%);
    --very-dark-cyan--clr: hsl(179, 100%, 13%);

    --transparent-white--clr: hsla(0, 0%, 100%, 0.75);
    --very-light-gray--clr: hsl(0, 0%, 95%);
}